html {
  font-size: 16px;
  font-family: 'Muli', Helvetica, Arial, sans-serif;
  border-top: 4px solid #EF5734;
}

body {
  color: #403E2F;
  max-width: 50rem;
  margin: 4rem auto 0;
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  margin-bottom: 3rem;
}

.title-box {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #f7f7f7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

p {
  line-height: 1.75rem;
}

a {
  color: #6f6f6f;
  text-decoration: none;
}

code, pre {
  font-family: 'Roboto Mono', monospace;
  background: #f7f7f7;
  border-radius: 4px;
}

code {
  margin: 3px 0;
  padding: 2px 6px;
}

pre {
  padding: 1.5rem;
  overflow-x: scroll;
}

header {
  margin-bottom: 2rem;
}

li {
  margin-bottom: 2rem;
}

footer {
  margin: 5rem 0 8rem;
}

.title {
  margin-bottom: 1.5rem;
  color: #EF5734;
  font-size: 3.25rem;
}

.headline {
  line-height: 2.5rem;
  font-size: 1.5rem;
}
